p {
    font-family: "Roboto", sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
}

.video-title {
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
}

.video-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.video-author {
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.video-description {
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 300px;
    line-height: 22px;
    margin-bottom: 100px;
}

.apple-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.shop-link {
    cursor: pointer;
    margin-left: 15px;
}

.shop-link:hover   {
    text-decoration: underline;
}