.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(240, 240, 240);
}



.left-header {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin: 0 24px 0 24px;
}

.youtube-logo {
    height: 20px;
}



.middle-header {
    flex: 1;
    max-width: 500px;
    margin: 0 35px 0 70px;
    display: flex;
    align-items: center;
}

label {
    flex: 1;
    width: 0;
}

.search-bar {
    height: 36px;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.search-icon {
    height: 25px;
    margin-top: 4px;
}

.search-button {
    height: 40px;
    width: 66px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin: 0 8px 0 -1px;
    cursor: pointer;
}

.voice-search-icon {
    height: 24px;
    margin-top: 4px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}



.right-header {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notifications-icon {
    height: 24px;
}

.current-user-picture {
    height: 32px;
    width: 32px;
    border-radius: 16px;
}



