p {
    margin: 0;
}

.listing-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 20px;
}

.listing {
    box-shadow: 0 0 5px darkgrey;
}

.image {
    width: 200px;
    height: 200px;
    display: block;
}

.name, .friends-grid, button {
    margin: 5px 0 0 10px;
}

.name {
    margin: 5px 0 0 10px;
    font-weight: 600;
}

.friends-grid {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
}

.pfp {
    width: 25px;
    height: 25px;
    border-radius: 15px;
}

.friends-count {
    font-size: 13px;
    color: grey;
}

button {
    border: none;
    background-color: #0e5ed1;
    color: white;
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}