.d-input {
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: lightgrey;
    margin-bottom: 7px;
    width: 100px;
}

.email {
    display: block;
    width: 226px;
}

.d-button {
    border: none;
    width: 248px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: #0e5ed1;
    padding: 10px;
    border-radius: 18px;
    cursor: pointer;
}

p {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}

.e-input {
    display: block;
    padding: 15px;
    background-color: lightgrey;
    width: 300px;
    border: none;
    margin-bottom: 5px;
}

.now, .later {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

.now {
    background-color: black;
    color: white;
    margin-right: 10px;
}