p, button {
    font-family: sans-serif;
}

.a-div {
    width: 50px;
    height: 50px;
    background-color: red;
    margin-bottom: 20px;
}

.b-div {
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 25px;
    border: none;
    margin-bottom: 20px;
}

.c-div {
    padding: 10px;
    border: 1px solid grey;
    width: 300px;
    margin-bottom: 20px;
}

.c-div > p {
    margin: 0 0 10px 0;
}

.d-div {
    background-color: rgb(50, 50, 50);
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    width: 400px;
}

.d-title {
    font-size: 20px;
    color: white;
    margin: 0 0 10px 0;
}

.d-subtitle {
    margin: 0;
    color: lightgrey;
}