img {
    width: 150px;
    display: block;
    /* Funky hack :3 */
    margin-left: auto;
    margin-right: auto;
}

input {
    padding: 10px;
    width: 350px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 25%);
    border-radius: 17px;
}

button {
    margin: 25px 10px 0 0;
    border: none;
    padding: 10px;
    cursor: pointer;
}